<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <add name="myDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\myDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="NewLocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=True;AttachDBFilename=|DataDirectory|\aspnetdb.mdf" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms" />
      <membership defaultProvider="NewAspNetSqlMembershipProvider">
        <providers>
          <clear/>
          <add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="NewLocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
        </providers>
      </membership>
      <profile defaultProvider="NewAspNetSqlProfileProvider">
        <providers>
          <clear/>
          <add name="NewAspNetSqlProfileProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </profile>
      <!--rolemanager role also set to true here on the successful  creation of the user in the browser-->
      <roleManager defaultProvider="NewAspNetSqlRoleProvider" enabled="true">
        <providers>
          <clear/>
          <add name="NewAspNetSqlRoleProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </roleManager>
      <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
 </configuration>
